.verdiv{
    float: left;
    background-image: linear-gradient(to bottom right, blue, powderblue);
    height: 600px;
    width: 30%;
    text-align: center;
    font-size: xx-large;
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    border-radius: 30px;
}
html{
    font-family: "Lucida Sans", sans-serif;
    background-color: wheat;
}
.inp{
    background-image: linear-gradient(to bottom right,whitesmoke,wheat);
    border: 0px;
    border-radius: 5px;
}
.rightdiv{
    margin-top:30px;
}
a{

    margin-left: 10px;
    color: white;
    border-radius: 7px;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    background-image: linear-gradient(to bottom left, pink,rgba(255, 0, 0, 0.459));
    border: 1px solid white;
}
.image{
    margin: 20px;
}
.packages{
    font-size: small;
    color: black;
    margin:10px;
}
.tourist-trains{
    padding:10px;
    margin-left:90px;
    border-radius: 5px;
    float: left;
    background-image: linear-gradient(to bottom right, Yellow, orange);
}
.international-Packages{
    padding:10px;
    margin-left:90px;
    border-radius: 5px;
    float: left;
    background-image: linear-gradient(to bottom right, pink, red);
}
.National-Packages{
    padding:10px;
    margin-left:90px;
    border-radius: 5px;
    float: left;
    background-image: linear-gradient(to bottom right,green, cyan);
}